<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RH-OS Menus</title>
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/Menu.css">
    <link rel="stylesheet" href="../../assets/css/usuarios.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="box-header">
        <nav class="box-menu-principal">
            <a href="#" role="button" class="box-imagem"><img src="../../assets/img/logo.png"
                    alt="RH-OS-Parametros"></a>

            <ul class="menu">
                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Recrutamento</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Minhas Vagas</a></li>
                        <li><a href="#" role="button">Candidatos</a></li>
                        <li><a href="#" role="button">Agenda</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Desempenho</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Feedback:360</a></li>
                        <li><a href="#" role="button">Recrutados</a></li>
                        <li><a href="#" role="button">Metas</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Gestão de RH</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Funcionarios</a></li>
                        <li><a href="#" role="button">Gestão de ferias</a></li>
                        <li><a href="#" role="button">Relogio de ponto</a></li>
                        <li><a href="#" role="button">Gerenciamento de custos</a></li>
                        <li><a href="#" role="button">Desligamento</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Desenvolvimento e Satisfação</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Treinamentos</a></li>
                        <li><a href="#" role="button">Plano de Carreira</a></li>
                        <li><a href="#" role="button">Pesquisa de Satisfação</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Integração</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Não definido</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Relatorios</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Contratações</a></li>
                        <li><a href="#" role="button">Relatorio de ponto</a></li>
                        <li><a href="#" role="button">custos e pagamentos</a></li>
                        <li><a href="#" id="link-logs" role="button">Logs de Usuarios</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" role="button" aria-haspopup="true">Sistema</a>
                    <ul class="submenus">
                        <li><a href="#" role="button">Parametros gerais do sistema</a></li>
                        <li><a href="#" id="link-cadastro-usuarios" role="button">Cadastro de Usuarios</a></li>
                        <li><a href="#" id="link-cadastro-cargos" role="button">cadastro de Cargos</a></li>
                        <li><a href="#" role="button">Documentação</a></li>
                        <li><a href="#" role="button">Versão</a></li>
                        <li><a href="#" role="button">Licença</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </header>

    <main class="conteudo-principal">
  <div id="barra-abas" class="barra-abas-estilo">
    </div>
  <div id="area-conteudo" class="area-conteudo-estilo">
    <img src="../../assets/img/logo.png" alt="RH-OS Logo" class="logo-fundo">
  </div>
</main>

    <script src="menu.js"></script>
</body>

</html>