@charset "utf-8";

@font-face {
  font-family: 'minhasFontes';
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

:root {
  --primary-color: rgba(5, 100, 250, 0.4);
  --primary-color-op6: rgba(5, 100, 250, 0.6);
  --secondary-color: rgba(240, 191, 12, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'minhasFontes';
}

body {
  background: var(--primary-color-op6);
}

.box-menu-principal {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  height: 25px;
  width: 100%;
}

.box-imagem {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
}

.box-imagem:hover {
  background: rgba(0, 0, 0, 0.3);
}

.box-imagem img {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
  height: 100%;
}

.menu a {
  font-size: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
}

.menu a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.submenus {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

li.dropdown.menu-aberto .submenus {
  display: block;
}

.submenu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: #ddd;
}

picture {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
